html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
body {
  background: black;
}
.heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  transition: transform .2s;
  background-color: cornsilk;
}
.display {
  text-align: center;
}
.bot-icon { 
  position: fixed;
  right: 40px;
  bottom: 2px;
  cursor: pointer;
  font-size: 4.8rem;
  transition: transform .2s;
  display: flex;
  color: #fff;
}
.icon :hover {
  transform: scale(1.1) !important;
}
.heading {
  font-family: 'Montserrat', sans-serif;
  transition: transform .2s;
  background-color: cornsilk;
}
.chatbox {
  position: fixed;
  right: 30px;
  bottom: 78px;
  width: 35vw;
  height: 87vh;
  background: white;
  display: none;
  border-radius: 1.5rem !important;
  animation: myAnim 0s ease 0s 1 normal forwards;
}
@keyframes myAnim {
0% {
  opacity: 1;
  transform: rotateX(-70deg);
  transform-origin: bottom;
}

100% {
  opacity: 1;
  transform: rotateX(0);
  transform-origin: bottom;
}
}
.upper-1  {
  background: #fa6f0f;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  color: white;
  padding:1rem 0rem 5rem 0; 
}
.upper-text {
  padding-left: 4rem;
  padding-bottom: 2.7rem;
  animation: myAnim 2s ease-out 0s 1 normal forwards;
}
@keyframes myAnim { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.card-main {
  position: absolute;
  height: 60vh;
  width: 32.7vw;
  margin-left: 1.1rem;
  margin-top: 0%;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  
}

.name {
  font-size: 1.8rem;
}
.greet {
  font-size: 1.5rem;
}
.greeting {
  font-size: 1rem;
}
.round {
  position: absolute;
  z-index: 1;
  top: 10rem;
  left: 3rem;
  height: 80px;
  width: 80px;
  box-shadow: -1px 0px 10px 1px rgba(0, 0, 0, 0.41);
  background-color: #FF7100;
  border-radius: 50%;
  display: inline-block;
}
.fa-robot {
  position: absolute;
  font-size: 2.8rem;
  top: 16px;
  left: 12px;
  animation: myAnim 1s ease-in-out 1s 1 normal forwards;
}
@keyframes myAnim { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.fa-question-circle {
  color: #fa6f0f;
}
.dot {
  height:10px;
  width: 10px;
  background-color: #fa6f0f;
  box-shadow: 0px 0px 0px 5px rgba(255, 72, 1, 0.17);
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.main-ques {
  z-index: 1;
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 2rem;
  padding-bottom: 0;
  padding-top: 3rem;
  animation: myAnim 3s cubic-bezier(0.87, 0, 0.13, 1) 0s 1 normal forwards;
}
@keyframes myAnim { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.q-1 {
  animation:myAnim 4s cubic-bezier(0.87, 0, 0.13, 1) 0s 1 normal forwards;
}
@keyframes myAnim { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.q-2 {
  animation:myAnim 5s cubic-bezier(0.87, 0, 0.13, 1) 0s 1 normal forwards;
}
@keyframes myAnim { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.q-3 {
  animation:myAnim 6s cubic-bezier(0.87, 0, 0.13, 1) 0s 1 normal forwards;
}
@keyframes myAnim { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.q-4 {
  animation:myAnim 7s cubic-bezier(0.87, 0, 0.13, 1) 0s 1 normal forwards;
}
@keyframes myAnim { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.q-5 {
  animation:myAnim 8s cubic-bezier(0.87, 0, 0.13, 1) 0s 1 normal forwards;
}
@keyframes myAnim { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.ques {
  margin: 0.5rem;
  border-radius: 8px;
  padding: 1rem;
}
.question {
  position: relative;
  z-index: 1;
  color: black;
  margin: 0%;
}
.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  color: #241717;
  background: #ffffff;
  padding: 1rem;
  display: flex;
  margin:auto;
  font-size: 1.2rem;
}
.fa-comment-alt {
    z-index: 1;
    padding-top: 5px;
    padding-right: 4px;
}
.btn:hover {
  background: #b6b9ba;
}
@media screen and (max-width: 600px) {
  h2{ 
      font-size: 1rem !important;
  }
  h3{ 
      font-size: 1rem !important;
      padding: 0% !important;
  }
  .greeting {
      font-size: 0.9rem;
      padding: 0%;
      margin: 0%;
  }
  .upper-text {
      padding: 0%;
      padding-left: 1rem;
  }
  .fa-robot {
      font-size: 1.5rem;
      top: 8px;
      left: 6px;
      display: none;
  }
  .round {
      width: 43px;
      height: 43px;
      display: none;
  }
  .main-ques {
      font-size: .9rem;
      margin: 0%;
      padding: 0%;
      padding-top: 2.5rem;
  }
  .btn {
      padding: 0rem !important;
      margin: 0% !important;
      font-size: 1rem;
  }
  .fa-comment-alt {
      padding: .4rem !important;
  }
  .chatbox {
      width: 70vw;
      height: 70vh;
  }
  .card-main {
      width: 60vw;
      height: 43vh;
  }
  .ques {
      margin: 0%;
      padding: 0.5rem;
  }
  .question {
      font-size: 0.8rem;
  }

}
@media screen and (max-width: 1050px) and (min-width:590px) {
  h2{ 
      font-size: 1.8rem !important;
  }
  h3{ 
      font-size: 1.8rem !important;
      padding: 0.4rem !important;
  }
  .greeting {
      font-size: 1.2rem;
      padding: 0%;
      margin: 1rem;
  }
  .upper-text {
      padding: 1rem;
 }
  .fa-robot {
      font-size: 1.5rem;
      top: 8px;
      left: 6px;
      display: none;
  }
  .round {
      width: 43px;
      height: 43px;
      display: none;
  }
  .main-ques {
      font-size: 1rem;
      margin: .5rem;
      padding: .5rem;
      padding-top: 2.5rem;
  }
  .btn {
      padding: .4rem !important;
      margin: 1rem !important;
      font-size: 1rem;
      text-align: center;
  }
  .fa-comment-alt {
      padding: .4rem !important;
  }
  .ques {
      margin: .5rem;
      padding: 0.5rem;
  }
  .question {
      font-size: 1.2rem;
  }
  .chatbox {
      width: 80vw;
      height: 70vh;
  }
  .card-main {
      width: 73vw;
      height: 48vh;
  }
}
@media screen and (max-width: 280px) {
  .card-main {
      width: 52vw;
      height: 30vh;
  }
  .chatbox {
      width: 67vw;
      height: 60vh;
  }
  .ques {
      margin: 1rem;
      padding: .5rem;
  }
}