html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.display {
    text-align: center;
}
.bot-icon { 
    position: fixed;
    right: 40px;
    bottom: 0px;
    cursor: pointer;
    font-size: 5rem;
    transition: transform .2s;
    display: flex;
}
#icon :hover {
    transform: scale(1.1) !important;
}
.heading {
    font-family: 'Montserrat', sans-serif;
    transition: transform .2s;
}
/* .chatbox {
    position: fixed;
    right: 30px;
    bottom: 100px;
    width: 400px;
    background: #dedede;
    transition: all 0.3s ease-out;
    transform: scaleY(0);
} */
/* a :hover {
    transform: scale(1.1);
} */
#forChatbot {
    position: fixed;
    right: 30px;
    bottom: 80px;
    width: 500px;
    height: 80vh;
    z-index: 1000;
    transition: all 0.3s ease-out;
    /* transform: scaleY(1); */
    border-radius: 1rem;
}
#forChatbot :active {
    transform: scaleY(0);
}

